
.background{
    background      : url("http://puu.sh/l7R7a/c38cc933a5.jpg") fixed;
    background-size : cover;
}
.Titre{
    vertical-align: middle;
    text-align: center;
}

th, td {
    text-align: center;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.small div {
    font-size: 1.2em;
}